rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Korisnik može uploadati samo u vlastitu putanju
    match /uploads/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
